<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book search</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" />
</head>
<body>
<div th:insert="~{fragments/navigation_fragments  :: navbar}"></div>
<table class="m-auto text-center">
    <tr><td><h1>My Book search</h1></td></tr>
    <tr><td><table class="table table-striped table-sm table-responsive" th:object="${search}">
        <form th:action="@{/author/works/search/list/__${currentPage}__}" method="get">
            <tr>
                <th scope="col" colspan="3">Book name</th>
                <th scope="col" colspan="3">Author name</th>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="text" th:class="'form-control'" onchange="this.form.submit()" th:value="*{bookName}"
                           id="bookName" name="bookName" placeholder="Book name"
                           maxlength="100" minlength="2" pattern="^[A-Za-z0-9 А-Яа-яЁё.,!?:;-']{1,100}$"
                    >
                </td>
                <td colspan="3">
                    <input type="text" th:class="'form-control'" onchange="this.form.submit()" th:value="*{creatorName}"
                           id="creatorName" name="creatorName" placeholder="Author name" readonly
                           maxlength="25" minlength="3" pattern="^[A-Za-z0-9 А-Яа-яЁё.,\/!? :;-]{3,25}$"
                    >
                </td>
            </tr>
            <tr>
                <th scope="col">Min year creation</th>
                <th scope="col">Max year creation</th>
                <th scope="col">Min year upload</th>
                <th scope="col">Max year upload</th>
                <th scope="col">Min cost</th>
                <th scope="col">Max cost</th>
            </tr>
            <tr>
                <td>
                    <input type="number" th:class="'form-control'" onchange="this.form.submit()" th:value="*{minYoC}" required
                           id="minYearOfCreation" name="minYearOfCreation" placeholder="Min year creation"
                           min="-10000" max="2100" minlength="1"
                    >
                </td>
                <td>
                    <input type="number" th:class="'form-control'" onchange="this.form.submit()" th:value="*{maxYoC}" required
                           id="maxYearOfCreation" name="maxYearOfCreation" placeholder="Max year creation"
                           min="-10000" max="2100" minlength="1"
                    >
                </td>
                <td>
                    <input type="number" th:class="'form-control'" onchange="this.form.submit()" th:value="*{minYoU}" required
                           id="minYearOfUpload" name="minYearOfUpload" placeholder="Min year upload"
                           min="2022" max="2100" minlength="1"
                    >
                </td>
                <td>
                    <input type="number" th:class="'form-control'" onchange="this.form.submit()" th:value="*{maxYoU}" required
                           id="maxYearOfUpload" name="maxYearOfUpload" placeholder="Max year upload"
                           min="2022" max="2100" minlength="1"
                    >
                </td>
                <td>
                    <input type="number" th:class="'form-control'" onchange="this.form.submit()" th:value="*{minCost}" required
                           id="minCost" name="minCost" placeholder="Min cost"
                           min="0" max="10000" minlength="1"
                    >
                </td>
                <td>
                    <input type="number" th:class="'form-control'" onchange="this.form.submit()" th:value="*{maxCost}" required
                           id="maxCost" name="maxCost" placeholder="Max cost"
                           min="0" max="10000" minlength="1"
                    >
                </td>
            </tr>
        </form></table></td></tr>
    <tr><td><table class="table table-striped table-sm table-responsive">
        <thead><tr>
            <th scope="col">Book name</th>
            <th scope="col">Creator name</th>
            <th scope="col">Cost</th>
            <th scope="col">Description</th>
            <th scope="col">Tags</th>
            <th scope="col">Go to book view</th>
        </tr></thead>
        <div th:each="book : ${books}">
            <tr style="border-bottom:1px solid black">
                <td th:text="${book.name}"></td>
                <td th:text="${book.creator.username}"></td>
                <td th:text="${book.cost}"></td>
                <td rowspan="5" >
                    <textarea th:class="'form-control'" readonly th:text="${book.description}"></textarea>
                </td>
                <td rowspan="5"><div th:each="tag : ${book.tags}">
                    <span th:text="${tag.name}"></span>
                </div></td>
                <td rowspan="5">
                    <form th:action="@{/works/manage/__${book.id}__}" method="get">
                        <input class="w-100 btn btn-sm btn-danger" type="submit" value="Book Description">
                    </form>
                </td>
            </tr>
            <tr>
                <th colspan="2" scope="col">Book cycle</th>
                <th scope="col">Book status</th>
            </tr>
            <tr>
                <td colspan="2" th:text="${book.bookCycle} ? ${book.bookCycle.name} : 'stanalone'"></td>
                <td th:text="${book.bookStatus.name}"></td>
            </tr>
            <tr>
                <th scope="col">Chapters</th>
                <th scope="col">Year creation</th>
                <th scope="col">Year upload</th>
            </tr>
            <tr>
                <td th:text="${book.chapters.size()}" style="border-bottom:1px solid black"></td>
                <td th:text="${book.yearOfCreation}" style="border-bottom:1px solid black"></td>
                <td th:text="${book.yearOfUpload}" style="border-bottom:1px solid black"></td>
            </tr>
        </div>
        <tr th:if="${books.isEmpty()}"><td colspan="8" class="text-center">
            <h5>Books not found!</h5>
        </td></tr>
    </table></td></tr>
    <tr>
        <td th:insert="~{fragments/navigation_fragments  :: paging ('author/works/search', ${currentPage}, ${nPage})}"></td>
    </tr>
</table>
<script type="text/javascript"
        src="/webjars/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript"
        src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
</body>
</html>