<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book search</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" />
</head>
<body>
<div th:insert="~{fragments/navigation_fragments  :: navbar}"></div>
<table class="m-auto text-center">
    <tr><td><h1>Book search</h1></td></tr>
    <tr><td><table class="table table-striped table-sm table-responsive">
        <thead><tr>
            <th scope="col">Book name</th>
            <th scope="col">Creator name</th>
            <th scope="col">Cost</th>
            <th scope="col">Description</th>
            <th scope="col">Tags</th>
            <th scope="col">Go to book view</th>
        </tr></thead>
        <div th:each="book : ${books}">
            <tr>
                <td th:text="${book.name}"></td>
                <td th:text="${book.creator.username}"></td>
                <td th:text="${book.cost}"></td>
                <td rowspan="5" th:text="${book.description}"></td>
                <td rowspan="5"><div th:each="tag : ${book.tags}">
                    <span th:text="${tag.name}"></span>
                </div></td>
                <td rowspan="5">
                    <form th:action="@{/works/view/__${book.id}__}" method="get">
                        <input class="w-100 btn btn-sm btn-danger" type="submit" value="Book Description">
                    </form>
                </td>
            </tr>
            <tr>
                <th colspan="3" scope="col">Book cycle</th>
            </tr>
            <tr>
                <td colspan="2" th:text="${book.bookCycle} ? ${book.bookCycle.name} : 'stanalone'"></td>
                <td th:text="${book.bookStatus.name}"></td>
            </tr>
            <tr>
                <th scope="col">Chapters</th>
                <th scope="col">Year creation</th>
                <th scope="col">Year upload</th>
            </tr>
            <tr>
                <td th:text="${book.chapters.size()}"></td>
                <td th:text="${book.yearOfCreation}"></td>
                <td th:text="${book.yearOfUpload}"></td>
            </tr>
        </div>
        <tr th:if="${books.isEmpty()}"><td colspan="8" class="text-center">
            <h5>Books not found!</h5>
        </td></tr>
    </table></td></tr>
    <tr>
        <td th:insert="~{fragments/navigation_fragments  :: paging ('works/search', ${currentPage}, ${nPage})}"></td>
    </tr>
</table>
<script type="text/javascript"
        src="/webjars/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript"
        src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
</body>
</html>